# ===== Logs =====
*.log

# ===== Python cache =====
__pycache__/
*.pyc

# ===== Environnements virtuels =====
venv/
.venv/
.env

# ===== VS Code =====
.vscode/

# ===== macOS =====
.DS_Store

# ===== Windows =====
Thumbs.db
desktop.ini

# ===== Linux =====
*~
.nfs*


